<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Blog</title>
    <link rel="stylesheet" href="/styles/read.css">
</head>
<body>
    <header>
        <h1>Read Blog</h1>
    </header>
    <div actio class="container">
        <h2 id="readTitle"><%= blogTitle %> </h2>
        <p id="readContent"><%= blogContent %> </p>
        <button"><a href="/">Back to Home</a> </button>
    </div>
</body>
</html>
